{% extends "account/base.html" %}

{% load i18n account static %}

{% block head_title %}
    {% trans "Password Reset" %} - {{ block.super }}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image">
                                <img src="{% static 'user_profile/images/reset_password.jpg' %}"
                                     alt="Sign In" width="464" height="406">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">
                                            {% trans "Password Reset" %}
                                        </h1>
                                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                    </div>
                                    <form class="password_reset user" action="" method="POST"
                                          action="{% url 'account_reset_password' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.email }}
                                            {{ form.email.errors }}
                                        </div>
                                        <div class="form-group">
                                            {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                    <span class="help-block">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                            {% trans 'Reset My Password' %}
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href={% url 'account_signup' %}>Создайте аккаунт!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_login' %}">Уже есть аккаунт? Войдите!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
