{% extends "base.html" %}

{% load i18n staticfiles %}

{% block head_title %}
    {% trans "Signup" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img src="{% static 'user_profile/images/sign_up.jpg' %}"
                             alt="Sign In" width="465" height="472">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Создайте аккаунт</h1>
                            </div>
                            <form class="signup user" action="{% url 'account_signup' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form.password1 }}
                                        {{ form.password1.errors }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.password2 }}
                                        {{ form.password2.errors }}
                                    </div>
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <div class="form-group">
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <button class="btn btn-outline-primary btn-user btn-block" type="submit">
                                    {% trans "Sign Up" %}
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_reset_password' %}">
                                    {% trans "Forgot Password?" %}
                                </a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_login' %}">
                                    Уже есть аккаунт? Войдите!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
