# Python module caches
__pycache__/
*.pyc

# Python virtual environment
backend/venv
backend/venv[0-9]*

# Pycharm settings folder
.idea/

# Django static files
backend/medicine_centre/static

# React
frontend/node_modules