{% extends 'main/base.html' %}
{% block title %}
    Вход - {{ block.super }}
{% endblock %}
{% block body %}
    <div class="container m-4">
        <div class="card text-center col-sm-6 offset-sm-3">
            <div class="card-header text-center logo-panel">
                <a href="{% url 'main:index' %}">
                    <img src="/static/images/logo.png" alt="Лого">
                </a>
            </div>
            <div class="card-body">
                {% block card-body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}