{% extends 'user_profile/base_card.html' %}
{% load crispy_forms_tags %}
{% block card-body %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div>{{ field|as_crispy_field }}</div>
            {#            {% if field.errors %}#}
            {#                {% for error in field.errors %}#}
            {#                    <span class="help-block">{{ error }}</span>#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
        <button class="btn btn-success btn-block" type="submit">{% block button_text %}{% endblock %}</button>
        {% block already_or_not_yet %}
        {% endblock %}
    </form>
{% endblock %}
