<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
            <div class="shadowed-item auth-panel">
                <div class="text-center logo-panel">
                    <img src="/static/images/logo.png" alt="Лого">
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary btn-block" type="submit">{% block button_text %}{% endblock %}</button>
                </form>
            </div>
        </div>
    </div>
</div>