<div class="container">
    <h3 class="text-left text-main mt-4">Статьи</h3>
    {% for article in articles %}
        <div class="row featurette m-4">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    {{ article.title }}
                </h2>
                <p class="lead">{{ article.content }}</p>
            </div>
            <div class="col-md-5">
                <a href="{{ article.get_absolute_url }}">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-thumbnail"/>
                </a>
            </div>
        </div>
    {% endfor %}
</div>