{% extends 'main/base.html' %}
{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}
{% block body %}
    <div class="container">
        <h3 class="text-left text-main mt-4">Статьи с тегом &laquo;{{ tag.title | title }}&raquo;</h3>
        <div class="row">
            {% for article in tag.articles.all %}
                <div class="col-md-4">
                    <div class="card text-center mb-3">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a class="black-color" href="{{ article.get_absolute_url }}">
                                    {{ article.title }}
                                </a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <a href="{{ article.get_absolute_url }}">
                                <img src="{{ article.image.url }}" alt="" class="img-fluid"/>
                            </a>
                        </div>
                        <div class="card-footer">
                            {{ article.pub_date }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}