.orange-caption-left {
  color: #ff7c50;
  text-align: left;
}

.orange-caption-left {
  color: #ff7c50;
  text-align: left;
}

.green-caption-left {
  color: #399f40;
  text-align: left;
}

.orange-caption-center {
  color: #ff7c50;
  text-align: center;
}

.btn-outline-primary {
  color: #4e73df;
  border-color: #4e73df;
}

.dropdown .btn {
  border: 0;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.text-small {
  font-size: 80%;
  color: #4e73df;
  font-weight: 400;
}

.text-middle {
  color: #4e73df;
  font-weight: 400;
}

.bg-image {
  background-position: center;
  background-size: cover;
}

.p-0 {
  padding: 0 !important;
}

.o-hidden {
  overflow: hidden !important;
}

.border-0 {
  border: 0 !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.btn-dropdown {
  border: 0;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
  border-radius: 1rem;
  font-size: 0.8rem;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 1rem;
}

.jumbotron {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-item {
  font-style: italic;
  text-decoration: underline;
}

.wrap-image {
  float: left; /* обтекание слева */
  margin-right: 100px;
  margin-bottom: 10px;
}

.text-blue {
  color: #5da2ff;
}
