<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Медцентр
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/bootstrap_css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/sb-admin-2.css' %}" type="text/css">
    {% block css %}
    {% endblock %}
</head>
<body class="bg-gradient-light">
<div class="wrapper">
    <div class="content">
        {% include 'main/navbar.html' %}
        {% block body %}
        {% endblock %}
        {% include 'main/footer.html' %}
    </div>

</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{% static 'main/bootstrap_js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/sb-admin-2.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>