<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Медцентр
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/bootstrap_css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/sb-admin-2.css' %}" type="text/css">
    {% block css %}
    {% endblock %}
</head>
<body class="bg-gradient-light">
<div class="wrapper">
    <div class="content">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'main:index' %}">Медцентр</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile:sign_in' %}">Войти</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:news_list' %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:big_news_list' %}">События</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:contacts' %}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:about_us' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                    </li>
                </ul>
                {% block navbar_search %}
                {% endblock %}
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
        {% include 'main/footer.html' %}
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{% static 'main/bootstrap_js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>