{% extends 'main/base.html' %}
{% block title %}
    {{ big_new.title }} - {{ block.super }}
{% endblock %}
{% block body %}
    <div class="container m-4">
        <div class="row">
            <div class="col-md">
                <h3 class="text-center">{{ big_new.title }}</h3>
                <p>{{ big_new.content }}</p>
            </div>
            <div class="col-md">
                <a href="{{ doctor.get_absolute_url }}">
                    <img src="{{ big_new.image.url }}" alt="{{ big_new.title }}" class="img-thumbnail"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}