<div class="container">
    <h3 class="text-center mt-4">Наши специалисты</h3>
    <div class="row">
        {% for doctor in doctors %}
            <div class="col-lg-4">
                <a href="{{ doctor.get_absolute_url }}">
                    <img src="{{ doctor.image.url }}" alt="{{ doctor.user.username }}" class="img-thumbnail"/>
                </a>
                <a href="{{ doctor.get_absolute_url }}" class="btn btn-light">
                    <h2>{{ doctor.user.username }}</h2>
                </a>
                <p> Должность: {{ doctor.post }}</p>
            </div>
        {% endfor %}
    </div>
</div>