{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    {% include 'main/navbar.html' %}
    <main role="main">
        {% include 'main/carousel.html' %}
        {% include 'main/text_container.html' %}
        <div class="marketing-container container">
            {% include 'main/marketing-container.html' %}
            {% include 'main/first_featurette.html' %}
            {% include 'main/second_featurette.html' %}
            {% include 'main/third_featurette.html' %}
        </div>
        {% include 'main/footer.html' %}
    </main>
{% endblock %}