<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello,
            {% if user.email %}
                {{ user.email }}
            {% else %}
                dude!
            {% endif %}
        </h1>
        <p>This is a template for my diploma work website. It includes a large callout
            called a jumbotron and three supporting pieces of content.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p>
    </div>
</div>