<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link sign-up-link" href="#">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sign-in-link" href="#">Авторизация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sign-out-link" href="{% url 'user_profile:sign_out' %}">Выход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link admin-panel-link" href="{% url 'admin:index' %}">Админка</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
    </div>
</nav>