<h3 class="text-center">Новости</h3>
<div class="row">
    {% for new in news %}
        <div class="col-md-4">
            <div class="card text-center m-4">
                <div class="card-header">
                    {{ new.pub_date }}
                </div>
                <div class="card-body">
                    <h5 class="card-title ">
                        <a href="{{ new.get_absolute_url }}" class="btn btn-light">
                            {{ new.title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ new.content }}</p> {# truncate #}
                </div>
            </div>
        </div>
    {% endfor %}
</div>