<div class="container">
    <h3 class="text-left text-main mt-4">Наши специалисты</h3>
    <div class="row">
        {% for doctor in doctors %}
            <div class="col-md-3 mb-3">
                <a href="{{ doctor.get_absolute_url }}">
                    <img src="{{ doctor.user.avatar.url }}" alt="{{ doctor.user.username }}" class="img-fluid rounded-circle"/>
                </a>
                <h4 class="text-center">
                    <a class="black-link" href="{{ doctor.get_absolute_url }}">
                        {{ doctor.user.username }}
                    </a>
                </h4>
            </div>
        {% endfor %}
    </div>
</div>