{% extends "account/base.html" %}

{% load i18n account %}

{% block head_title %}
    {% trans "Password Reset" %} - {{ block.super }}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">
                                            {% trans "Password Reset" %}
                                        </h1>
                                        <p>
                                            {% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href={% url 'account_signup' %}>Создайте аккаунт!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_login' %}">Уже есть аккаунт? Войдите!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
